@font-face { 
	font-family: 'DancingScript';
	src: url('DancingScript.otf')
}

html, body,
h1, h3, p,
ul, li { margin: 0; padding:0; }

body {
	background-color: #02010a;
	font-family: 'DancingScript';
}

header {
	margin: 0;
	width: 100%;
	background-color: #5b7989;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
	float: left;
	animation-name: slide; /*144*/
    animation-duration: 1s;
}

h1 {
	color: #fff;
	text-shadow: 2px 2px 5px #02010a;
}

img { box-shadow: 2px 2px 2px #02010a; }

footer {
	width: 100%;
	background-color: #C6d5c5;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: left;
}


#logo { margin: 10px 20px; }

#menu { margin: 20px 0; }
#menu ul li { 
	display: inline;
	margin: 20px;
}
#menu a {
	color: #fff;
	text-decoration: none;
}

#img-central {
	clear: left;
	background-color: #82c3a6;
	padding: 10px;
	text-align: center;
}

#img-secundaria { 
	display: flex;
	width: 100%;
	background-color: #d5c75f;
	border: solid 1px #d5c75f;
}


#paisajes, #retratos,
#contacto, #termino,
#redes-sociales,
#derechos, .galeria { padding: 10px; }

#paisaje-1 { transition: transform;	}
#paisaje-1:hover { 
	box-shadow: 5px 5px 5px #82c3a6;
	border: solid 2px #82c3a6;
	transform: rotate(10deg);
}
		
#retrato-1 { transition: transform; }
#retrato-1:hover {
	box-shadow: 5px 5px 5px #82c3a6;
	border: solid 2px #82c3a6;
	transform: translate(20px,-5px);
}

#galeria { 
	clear: left;
	background-color: #d5c75f;
	display: flex;
}

#galeria-1 { filter: blur(10px); }

#galeria-2,
#galeria-4,
#galeria-6 { filter: grayscale(100%); }

#galeria-3 { filter: sepia(90%); }

.clear { clear: both; }

@media screen and (max-width: 899px) {
	#contenido { width: 100%; }

	#img-secundaria,
	#galeria {
		flex-direction: column;
		text-align: center;
	}
}

@media screen and (min-width: 900px) {
	footer {
		display: flex;
		flex-direction: row;
	}

	#contenido {
		width: 900px;
		margin: 0 auto;
	}

	#logo { float: left; }
	
	#menu { float: right; }

	#img-secundaria { 
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: stretch;
	}

	#galeria {
		flex-direction: row;
		flex-wrap: wrap; 
	}

	.galeria { width: 30%; }
}

@keyframes slide {
    0% { margin-top: 15%; }
    60% { margin-top: -5%; } 
    100% { margin-top: 0%; }
}